<div id="call-window">
    <button type="button" class="custom-btn white-button" data-toggle="modal" data-target="#getPresentationModalCall">заказать звонок</button>

    <div class="modal fade" id="getPresentationModalCall" tabindex="-1" role="dialog" aria-labelledby="getPresentationModalCallTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="getPresentationModalCallLongTitle">Отправить заявку</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>
