@import "../../../styles/mixins";

#cooperation {
  background-image: url('../../../images/bg-cooperation.png');
  .bg-img(center, center, fixed);

  .img {
    img {
      width: 20rem;
      height: 15rem;
    }
  }
}
