@main-orange: #E69D09;
@dark-orange: #ac7708;
@main-bg: #FFFFFF;
@gray: #DEDEDE;
@bg-gray: #f3f3f3;
@bg-dark-gray: #D9DBDB;
@box-shadow: 0 1rem 1rem 1rem rgba(191, 194, 195, 0.17);

button:focus, input:focus {
  outline: none;
}

.custom-btn {
  color: #000;
  font-weight: bold;
  text-transform: lowercase;
  border-radius: 15px;
  padding: 1rem;
  border: 2px solid @main-orange;
  cursor: pointer;
  min-width: 17rem;
  font-size: 1.7rem;

  &.orange-button {
    background: @main-orange;

    &:hover {
      background: white;
      color: @main-orange;
    }
  }

  &.white-button {
    background: #FFF;
    color: @main-orange;

    &:hover {
      background: @main-orange;
      color: black;
    }
  }
}

span {
  &.orange-text {
    color: @main-orange;
  }
}

.big-heading {
  font-size: 4rem;
  line-height: 3.8rem;
}

.nb-heading {
  font-size: 2.7rem;
}

.normal-heading {
  font-size: 1.7rem;
}

.small-text {
  font-size: 1.7rem;
}

.custom-rounded {
  border-radius: 0.4em;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: white;
}

.card {
  border-radius: 0.8rem;
}

.green-text {
  background-color: #5CA970;
  color: white;
  padding: 0.5rem;
  border-radius: 0.4rem;
}