@width-man: 26rem;
@height-man: 50rem;
@width-arrow: 18rem;
@height-arrow: 30rem;

html {
  font-size: 6px !important;

  footer, #about {
    .img-fluid {
      width: 57px;
      height: 50px;
    }
  }
  footer {
    .small-text {
      font-size: 1.3rem;
      padding-right: 0 !important;
    }
    .text-right {
      font-size: 1.1rem;
    }
  }

  #app {
    & > main {
      #about {
        background-position-x: -140px;
      }
    }
  }

  .image-container {
    .man-img {
      img:first-child {
        position: relative;
        top: 4rem;
        width: calc(@width-man / 2);
        height: calc(@height-man / 2);
      }

      img:last-child {
        position: relative;
        top: 2rem;
        margin-right: 9rem;
        width: calc(@width-arrow / 1.4);
        height: calc(@height-arrow / 1.4);
      }
    }
  }

  .custom-study {
    img {
      width: calc(411px / 1.3);
      height: calc(219px / 1.3);
    }
  }

  #study-system {
    padding-bottom: 2rem;
  }

  #mac {
    img {
      width: auto;
      height: calc(749px / 4.4);
      margin: auto;
      position: static !important;
    }
  }

  #garant {
    padding: 5rem;

    img {
      padding-left: 1.5rem;
    }
  }
}

// для мобильных девайсов
@media screen and (min-width: 576px) and (orientation: landscape) {
  html {
    #app {
      & > main {
        #about {
          background-position-x: 30px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  html {
    #app {
      & > main {
        #about {
          background-position-x: -70px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  html {
    #app {
      & > main {
        #about {
          background-position-x: 30px;
        }
      }
    }
  }
}

// Супер малые девайсы («ландшафтные телефоны», >= 320px)
@media (min-width: 320px) {
  html {
    font-size: 6px !important;

    #gid-first {
      .gid-first-content {
        top: 0;
        padding: 4rem;
      }
      br {
        display: none;
      }
    }
    .custom-rounded {
      padding-bottom: 0 !important;
    }

    #for-who {
      .mac-book {
        top: -12rem;
        right: -8rem;
        width: 311px;
        height: 311px;
      }
    }

    #when-buy {
      .album {
        .row {
          .col-md-4 {
            width: auto;
            margin: auto;

            .card {
              height: 20rem;
              width: 35rem;

              .small-text {
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 376px) {
  html {
    font-size: 8px !important;

    .image-container {
      .man-img {
        img:first-child {
          position: relative;
          top: 4rem;
          width: calc(@width-man / 1.5);
          height: calc(@height-man / 1.5);
        }

        img:last-child {
          position: relative;
          top: 5rem;
          margin-right: 8rem;
          width: calc(@width-arrow / 1.2);
          height: calc(@height-arrow / 1.2);
        }
      }
    }

    #for-who {
      .mac-book {
        right: 0;
      }
    }
  }
}
@media screen and (min-width: 320px) and (orientation: landscape) {
  html {
    font-size: 7px !important;
    #app {
      & > main {
        #about {
          background-position-x: center;
        }
      }
    }
  }
}
// Малые девайсы («ландшафтные телефоны», >= 576px)
@media (min-width: 576px) {
  html {
    font-size: 9px !important;
    #gid-first {
      .gid-first-content {
        top: 8rem;
        padding: 0;
      }
      br {
        display: block;
      }
    }
    .custom-rounded {
      padding-bottom: 3rem !important;
    }

    #for-who {
      .mac-book {
        top: -2rem;
        width: 311px;
        height: 311px;
      }
    }

    #when-buy {
      .card {
        width: auto;
      }
    }

    #mac {
      img {
        width: auto;
        height: calc(749px / 3.75);
        margin: auto;
        position: static !important;
      }
    }

    .image-container {
      .man-img {
        img:first-child {
          position: relative;
          top: 4rem;
          width: calc(@width-man / 1.5);
          height: calc(@height-man / 1.5);
        }

        img:last-child {
          position: relative;
          top: 4rem;
          margin-right: 12rem;
          width: calc(@width-arrow / 1.1);
          height: calc(@height-arrow / 1.1);
        }
      }
    }
  }
}

// Средние девайсы («таблетки», >= 768px)
@media (min-width: 768px) {
  html {
    font-size: 10px !important;
    #for-who {
      .mac-book {
        top: -7rem;
        width: 311px;
        height: 311px;
      }
    }
    #when-buy {
      .album {
        .row {
          .col-md-4 {
            width: auto;
            margin: auto;

            .card {
              height: 13rem;
              width: auto;

              .small-text {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }

    .small-text {
      font-size: 1.1rem;
    }
  }
}

// Большие девайсы (десктопы, >= 992px)
@media (min-width: 992px) {
  html {
    font-size: 12px !important;

    #for-who {
      .mac-book {
        top: -7rem;
        width: 550px;
        height: 550px;
      }
    }

    .image-container {
      .man-img {
        img:last-child {
          position: relative;
          top: 8rem;
          height: calc(35rem / 1.5);
          width: calc(80rem / 1.5);
          transform: rotate(0deg);
        }
      }
    }

    .custom-btn {
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
    }

    .custom-study {
      img {
        width: calc(411px / 0.9);
        height: calc(219px / 0.9);
      }
    }
  }
}

// Экстрабольшие девайсы (большие десктопы, >= 1200px)
@media (min-width: 1200px) {
  html {
    font-size: 14px !important;

    #app {
      & > main {
        #about {
          background-position-x: center;
        }
      }
    }

    #study-system {
      padding-bottom: 10rem;
    }

    #mac {
      .container {
        & > div {
          display: block !important;
          height: 23rem;
        }
      }
      img {
        width: auto;
        height: calc(749px / 1.8);
        position: relative !important;
        left: -15rem !important;
        top: -10rem !important;
        float: left;
      }

      .normal-heading {
        position: relative !important;
        left: -15rem;
        top: 4rem;
        padding: 0 !important;
      }
    }

    #garant {
      img {
        height: auto;
        width: calc(601px / 1.2);
      }
    }
  }
}