.bg-img(@x, @y, @fixed) {
  background-repeat: no-repeat;
  background-attachment: @fixed;
  background-position-x: @x;
  background-position-y: @y;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.display-flex() {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}